###
http://.*/sec(.*)/frag(.*)/video/(\d+)/(\d+)/(.*).flv    video-dmotion-sec$1-frag$2-$3-$4-$5.flv
http://.*/sec(.*)/frag(.*)/video/(\d+)/(\d+)/(.*).ts     video-dmotion-sec$1-frag$2-$3-$4-$5.ts
http://.*/sec(.*)/video/(.*)/(.*)/(.*).mnft              video-dmotion-sec$1-$2-$3-$4.mnft
###
http://.*/ccur/video/ntflx/tcshost/(.*)/tcskey/(.*)/(.*)/.*/.*/.*/.*//range/(\d+)-(\d+).*     http://$1/$2/video/ntflx/$3/range/$4-$5
